NODE_ENV=development
APP_VERSION=1.0.0
APP_PORT=7667
APP_NAME="Skilins API"
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:7667

MAIL_HOST='smtp.gmail.com'
MAIL_PORT=465
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=false
MAIL_SECURE=true
MAIL_REQUIRE_TLS=true

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST_PORT=
POSTGRES_CONTAINER_PORT=
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_HOST_PORT}/skilins"

COOKIE_SECRET=
AUTH_JWT_SECRET=
AUTH_REFRESH_SECRET=
AUTH_FORGOT_SECRET=
AUTH_CONFIRM_EMAIL_SECRET=

AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_TOKEN_EXPIRES_IN=1d
AUTH_FORGOT_TOKEN_EXPIRES_IN=2h
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=1d