<html>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
    <title>Submission of Competition Rejected</title>
    <script src='https://cdn.tailwindcss.com'></script>
  </head>

  <body>
    <section class='max-w-2xl px-6 py-8 mx-auto bg-white dark:bg-gray-900'>
      <h1>Submission of Competition Rejected</h1>
      <main class='mt-8'>
        <h2 class='text-gray-700 dark:text-gray-200'>Hi {{name}},</h2>

        <p class='mt-2 leading-loose text-gray-600 dark:text-gray-300'>
          We really sorry, your submission has been Rejected by the staff of
          skilins
          {{reason}}. Thanks.
        </p>

        <p class='mt-8 text-gray-600 dark:text-gray-300'>
          Thanks,
          <br />
          Skilins team
        </p>
      </main>

      <footer class='mt-8'>
        <p class='text-gray-500 dark:text-gray-400'>
          This email was sent to
          <a
            href='#'
            class='text-blue-600 hover:underline dark:text-blue-400'
            target='_blank'
          >contact@skilins.com</a>
        </p>

        <p class='mt-3 text-gray-500 dark:text-gray-400'>© Skilins. All Rights
          Reserved.</p>
      </footer>
    </section>
  </body>

</html>